node_modules/
config/mongoDB.json
config/awsConfig.json
config/secretKey.js
config/mailConfig.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
