<!DOCTYPE html>
<html>
  <head>
    <title>회사별 상세 페이지</title>
    <link rel='stylesheet' href='/stylesheets/web_detail.css' />
    <link rel='stylesheet' href='    https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css' />
  </head>
  <body style="margin: 0;">
    <div class="group-image">
    </div>
    <div class="group-content">
        <h1>네이버</h1>
        <h3>마케팅 부서</h3>
        <h3 style="color:grey">네이버 홍보실은 네이버 서비스 및 기업 관련 홍보 전략을 세우고 <br> 내외부적인 커뮤니케이션을 수행하는 일을 담당하고 있습니다.<br>홍보실에서는 기업과 공중 사이의 원활한 커뮤니케이션을 돕는다는 목표 아래, 각 서비스 부서와 함께 대언론 홍보 계획을 수립합니다.</h3>

        <hr>
        <div class="chart-bar" style="display: flex;">
            <div  style="width:50%">
                <h2>주간 요일별 공유 수</h2>
            </div>
            <div style="width:50%;padding-right: 20px;">
                <canvas id="myChart" style="display: block; height: 200px; width: 632px;" width="200" height="100"></canvas>
            </div>
        </div>
        <div class="chart-bar" style="display: flex;">
            <div style="width:50%">
                <h2>카테고리별 공유 수</h2>
            </div>
            <div style="width:50%;padding-right: 20px;">
                <canvas id="myChart1" style="display: block; height: 200px; width: 632px;" width="200" height="100"></canvas>
            </div>
        </div>
        <div class="chart-bar" style="display: flex;">
            <div style="width:50%">
                <h2>관심 분야</h2>
            </div>
            <div style="width:50%;padding-right: 20px;">
                <canvas id="myChart2" style="display: block; height: 200px; width: 632px;" width="200" height="100"></canvas>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="group-post">
        <div class="nav-bar">
            <ul>
                <li>ALL</li>
                <li>IT</li>
                <li>UI/UX</li>
                <li>Marketing</li>
                <li>Startup</li>
                <li>Finance</li>
                <li>Politics</li>
            </ul>
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
        <div class="post-wrap" OnClick="location.href ='http://techneedle.com/archives/37982'">
            <div class="thumb" style="width: 20%; height: 100%;">
                <img src="https://i0.wp.com/techneedle.com/wp-content/uploads/2019/11/다운로드-1.jpg?fit=1200%2C768" style="width: 100%; vertical-align:middle;">
            </div> 
            <div style="display: block;padding:0 20px 0 20px;">
                
                <h2>페이스북은 당신의 금융, 재무 상태를 페이스북 친구와 비교할 생각이다</h2>
                
                <div style="max-width: 80%;">
                    <h4>페이스북이 2013년 출원하고 최근 승인받은 금융 특허는 개인 금융 관리 툴에 가깝다. 재밌는 사실은 이 특허가 개인 페이스북 사용자의 금융, 재무 내역을 다른 페이스북 사용자, 혹은 그룹과 비교한다는 사실이다. 페이스북은 암호화폐 프로젝트인 리브라(Libra)를 만들기 전부터 암호화폐 관련해 여러 특허를 확보했고, 금융 관련 카테고리에서는 124개가…</h4>
                </div>
            </div>  
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" crossorigin="anonymous"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat','Sun'],
                datasets: [{
                    label: '요일',
                    data: [12, 19, 3, 5, 2, 3, 13],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)'

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 159, 64, 1)'

                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx1 = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: ['IT', 'UI/UX', 'Marketing', 'Startup', 'Finance', 'Politics'],
                datasets: [{
                    label: '11월',
                    data: [12, 19, 3, 5, 2, 3],
                    pointBackgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: 'rgba(255, 159, 64, 1)',
                    borderWidth: 1,
                    fill:false
                },
                {
                    label: '12월',
                    data: [10, 9, 4, 3, 1, 3],
                    pointBackgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    pointBorderWidth: 0,
                    fill: false
                },
                {
                    label: '1월',
                    data: [3, 12, 4, 19, 1, 22],
                    pointBackgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    pointBorderWidth: 0,
                    fill: false
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: ['IT', 'UI/UX', 'Marketing', 'Startup', 'Finance', 'Politics'],
                datasets: [{
                    label: '요일',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],
                    borderWidth: 1,
                }]
            },
            options: {
            }
        });

        </script>
  </body>

</html>
