<!DOCTYPE html>
<html>
  <head>
    <title>회사별 상세 페이지</title>
    <link rel='stylesheet' href='/stylesheets/web_detail.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </head>
  <body style="margin: 0;">
    <div id="feed">
        <span id="shadow">Feed</span>
    </div>
    <div id="group_info">
        <div id="group_title">
            <img class="group_logo" src='/images/log.jpg'>
            <div class="group_name">배달의 민족</div>
        </div>
        <div class="hash">
            <div class="hash-item">
                 IT
            </div>
            <div class="hash-item">
                디자인
           </div>
           <div class="hash-item">
                마케팅
            </div>
        </div>
    </div>
    <div id="group_graph_list">
        <div class="group_graph animated fadeInUp slow" id="first">
            <div class="graph_title">Week</div>
            <div style="width:100%;height:100%;padding-right: 20px;">
                <canvas id="myChart" style="display: block;" width="200" height="180"></canvas>
            </div>
        </div>
        <div class="group_graph animated fadeInUp slow delay-1s" id="two">
            <div class="graph_title">Category</div>
            <div style="width:100%;height:100%;padding-right: 20px;">
                <canvas id="myChart1" style="display: block;" width="200" height="180"></canvas>
            </div>
        </div>
        <div class="group_graph animated fadeInUp slow delay-2s" id="three">
            <div class="graph_title">Most Flips</div>
            <div style="width:100%;height:100%;padding-right: 20px;">
                <canvas id="myChart2" style="display: block;" width="200" height="180"></canvas>
            </div>
        </div>
    </div>
    <div id="post_list">
        <div class="post_item">
            <div class="post_hash_list">
                <div class="post_item_hash">IT</div>
                <div class="post_item_hash top">TOP3</div>
            </div>
            <div class="post_wrap" OnClick="location.href ='https:/www.naver.com'" style="cursor:pointer;">
                <div class="post_title">IoT 기반 떠오르는 기업.. “새로운 도전” </div>
                <div class="post_description">현진 컴퍼니가 이번 발표한 IoT 기반 사업이 성공적으로 컨퍼런스를 마치면서 사람들의 관심이 집중되고 있다…</div>
                <img class="post_image" src="/images/kakao.jpg">
            </div>
            <span class="flips">Flips 35</span>  <span class="flips">Views 212</span>
        </div>
        <div class="post_item">
            <div class="post_hash_list">
                <div class="post_item_hash">IT</div>
                <div class="post_item_hash top">TOP3</div>
            </div>
            <div class="post_wrap" OnClick="location.href ='https:/www.naver.com'" style="cursor:pointer;">
                <div class="post_title">IoT 기반 떠오르는 기업.. “새로운 도전” </div>
                <div class="post_description">현진 컴퍼니가 이번 발표한 IoT 기반 사업이 성공적으로 컨퍼런스를 마치면서 사람들의 관심이 집중되고 있다…</div>
                <img class="post_image" src="/images/kakao.jpg">
            </div>
            <span class="flips">Flips 35</span>  <span class="flips">Views 212</span>
        </div>
        <div class="post_item">
            <div class="post_hash_list">
                <div class="post_item_hash">IT</div>
                <div class="post_item_hash top">TOP3</div>
            </div>
            <div class="post_wrap" OnClick="location.href ='https:/www.naver.com'" style="cursor:pointer;">
                <div class="post_title">IoT 기반 떠오르는 기업.. “새로운 도전” </div>
                <div class="post_description">현진 컴퍼니가 이번 발표한 IoT 기반 사업이 성공적으로 컨퍼런스를 마치면서 사람들의 관심이 집중되고 있다…</div>
                <img class="post_image" src="/images/kakao.jpg">
            </div>
            <span class="flips">Flips 35</span>  <span class="flips">Views 212</span>
        </div>
        <div class="post_item">
            <div class="post_hash_list">
                <div class="post_item_hash">IT</div>
                <div class="post_item_hash top">TOP3</div>
            </div>
            <div class="post_wrap" OnClick="location.href ='https:/www.naver.com'" style="cursor:pointer;">
                <div class="post_title">IoT 기반 떠오르는 기업.. “새로운 도전” </div>
                <div class="post_description">현진 컴퍼니가 이번 발표한 IoT 기반 사업이 성공적으로 컨퍼런스를 마치면서 사람들의 관심이 집중되고 있다…</div>
                <img class="post_image" src="/images/kakao.jpg">
            </div>
            <span class="flips">Flips 35</span>  <span class="flips">Views 212</span>
        </div>
    </div>
    
    <!-- <div class="nav-bar">
        <ul>
            <li>ALL</li>
            <li>IT</li>
            <li>UI/UX</li>
            <li>Marketing</li>
            <li>Startup</li>
            <li>Finance</li>
            <li>Politics</li>
        </ul>
    </div> -->
    
    </div>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" crossorigin="anonymous"></script>
    <script>

        var fadeStart=0 // 100px scroll or less will equiv to 1 opacity
            ,fadeUntil=400 // 200px scroll or more will equiv to 0 opacity
            ,fading = $('.group-image');
        
        $(document).ready(function(){
            $('#feed').click(function(){
                var offset = $('.post_item').offset();
                    //animate()메서드를 이용해서 선택한 태그의 스크롤 위치를 지정해서 0.4초 동안 부드럽게 해당 위치로 이동함
                $('html').animate({scrollTop : offset.top-112}, 600);
            });
    
        });


        $(window).bind('scroll', function(){
            var offset = $(document).scrollTop()
                ,opacity = 0
            ;
            if( offset<=fadeStart ){
                opacity=1;
            }else if( offset<=fadeUntil ){
                opacity=1-offset/fadeUntil;
            }
            fading.css('opacity',opacity);
        });


        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['M', 'T', 'W', 'T', 'F', 'S','S'],
                datasets: [{
                    label: 'WEEK',
                    data: [12, 19, 3, 5, 2, 3, 13],
                    backgroundColor: [
                        '#0057ff',
                        '#0057ff',
                        '#0057ff',
                        '#0057ff',
                        '#0057ff',
                        '#0057ff',
                        '#0057ff'

                    ],
                    barThickness: 4,
                    borderWidth: 1,
                }]
            },
            options: {
                animation: {
                    duration:7000
                },
                legend: {
                    display: true,
                    position:'bottom'
                },
                title: {
                    display: true,
                    text: '1st week 2020'
                },
                scales: {
                    
                    pointLabels :{
                        fontStyle: "bolder",
                     },
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            fontStyle:'blod',
                            fontColor:'black',
                            stepSize:5
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontStyle:'blod',
                            fontColor:'black'
                        },
                        gridLines: {
                            display:false
                        }
                    }]
                }
            }
        });

        var ctx1 = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: ['IT', 'UI/UX', 'Marketing', 'Startup', 'Finance', 'Politics'],
                datasets: [{
                    label: 'Nov',
                    data: [12, 19, 3, 5, 2, 3],
                    pointBackgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    fill:true,
                    backgroundColor:'rgba(255, 159, 64, 0.11)',
                    borderColor: 'rgba(255, 159, 64, 1)',
                    borderWidth: 1,
                },
                {
                    label: 'Dec',
                    data: [10, 9, 4, 3, 1, 3],
                    pointBackgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    pointBorderWidth: 0,
                    fill:true,
                    backgroundColor:'rgba(75, 192, 192,0.11)',
                },
                {
                    label: 'Jan',
                    data: [3, 12, 4, 19, 1, 22],
                    pointBackgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    pointBorderWidth: 0,
                    fill:true,
                    backgroundColor:'rgba(255, 99, 132,0.11)'
                }]
            },
            options: {
                animation: {
                    duration:7000
                },
                legend: {
                    display: true,
                    position:'bottom'
                },

                title: {
                    display: true,
                    text: 'category'
                },
                scales: {
                    pointLabels :{
                        fontStyle: "bolder",
                     },
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            fontStyle:'blod',
                            fontColor:'black',
                            stepSize:5
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontStyle:'blod',
                            fontColor:'black'
                        },
                        gridLines: {
                            display:true
                        }
                    }]
                }
            }
        });

        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: ['IT', 'UI/UX', 'Marketing', 'Startup', 'Finance', 'Politics'],
                datasets: [{
                    label: '요일',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255,1)',
                        'rgba(255, 159, 64, 1)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                animation: {
                    duration:6000
                },

                legend: {
                    display: true,
                    position:'bottom',
                    fontStyle:'bold'
                },
                title: {
                    display: true,
                    text: 'flips'
                },
                scales: {
                    pointLabels :{
                        fontStyle: "bolder",
                     }
                   
                }
            }
        });

        </script>
  </body>

</html>
