<!DOCTYPE html>
<html>
  <head>
    <title>회사별 상세 페이지</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/web_main.css' />

  </head>
  <body>
    <div class="group-wrap" OnClick="location.href ='/web/detail/naver'" >
        <div class="thumb">
            <img src="./images/naver.png" style="width: 100%;vertical-align:middle;">
        </div> 
        <div>
            <p>네이버</p>
            <p>marketing</p>
        </div>  
    </div>
    <div class="group-wrap" OnClick="location.href ='/web/detail/naver'" >
        <div class="thumb">
            <img src="./images/naver.png" style="width: 100%;vertical-align:middle;">
        </div> 
        <div>
            <p>네이버</p>
            <p>marketing</p>
        </div>  
    </div>
    <div class="group-wrap" OnClick="location.href ='/web/detail/naver'" >
        <div class="thumb">
            <img src="./images/naver.png" style="width: 100%;vertical-align:middle;">
        </div> 
        <div>
            <p>네이버</p>
            <p>marketing</p>
        </div>  
    </div>
    <div class="group-wrap" OnClick="location.href ='/web/detail/naver'" >
        <div class="thumb">
            <img src="./images/naver.png" style="width: 100%;vertical-align:middle;">
        </div> 
        <div>
            <p>네이버</p>
            <p>marketing</p>
        </div>  
    </div>
  </body>
  <script>
      function detail(group) {
        location.href = "/web/detail/naver"
      }
  </script>
</html>
