<!DOCTYPE html>
<html>
  <head>
    <title>회사별 상세 페이지</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/web_main.css' />

  </head>
  <body>
    <div class="ocean">
        <div class="wave fi"></div>
        <div class="wave tw"></div>

        <div class="wave tw"></div>
        <div class="wave tw"></div>
        <div class="wave th"></div>
        <div class="wave fo"></div>
      </div>
    <img id="floodlogo" src="/images/img_flood.jpg">
    <div id="slogan">Browsing a successful company  👀</div>
    <div id="content">
        <div class="wrap" OnClick="location.href ='web/detail/naver'" style="cursor:pointer;">

            <div class="thumb" style="width:280px;height: 280px;">
                <img class="thumb-img" src="/images/ba.jpg">
            </div>
            <div class="content">
                <div class="content-title">
                    <img class="thumb-logo" src='/images/log.jpg'>
                    <span class="title">배달의 민족</span>
                </div>
                <div class="hash">
                    <div class="hash-item">
                         IT
                    </div>
                    <div class="hash-item">
                        디자인
                   </div>
                   <div class="hash-item">
                        마케팅
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap" OnClick="location.href ='web/detail/toss'" style="cursor:pointer;">
            <div class="thumb" style="height: 280px;">
                <img  class="thumb-img" src="/images/totos.png">
            </div>
            <div class="content">
                <div class="content-title">
                    <img class="thumb-logo" src='/images/to_logo.png'>
                    <span class="title">토스</span>
                </div>
                <div class="hash">
                    <div class="hash-item">
                         IT
                    </div>
                    <div class="hash-item">
                        UI/UX
                   </div>
                   <div class="hash-item">
                        마케팅
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap" OnClick="location.href ='web/detail/kakao'" style="cursor:pointer;">
            <div class="thumb" style="width:280px;height: 280px;">
                <img class="thumb-img" src="/images/ka_logo.png">
            </div>
            <div class="content">
                <div class="content-title">
                    <img class="thumb-logo" src='/images/kaka.png'>
                    <span class="title">카카오</span>
                </div>
                <div class="hash">
                    <div class="hash-item">
                         IT
                    </div>
                    <div class="hash-item">
                        디자인
                   </div>
                   <div class="hash-item">
                        마케팅
                    </div>
                </div>
            </div>
        </div>
    </div>
   
  </body>
  <script>
      function detail(group) {
        location.href = "/web/detail/naver"
      }

      
      
  </script>
</html>
