files:
    /etc/nginx/conf.d/proxy.conf:
        content: |
            client_max_body_size 10M; 

            server {
                listen 8080;

                location / {
                    proxy_read_timeout 300s;
                    proxy_connect_timeout 75s;
                }
            }
      
