
@font-face{ 
    font-family:giloy; 
    src:url('./Gilroy-ExtraBold.ttf');  
}



body {
    font-family: giloy;
    background-size: cover;
    background-image: url('/images/img_BG4.png') ;
    background-repeat : repeat-y;
}

body,html {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

#feed {
    position: absolute;
    top:11%;
    color:white;
    font-size: 60px;
    font-weight: bolder;
    left: 6%;
}

#group_info {
    position: absolute;
    top:23%;
    left: 6%;
    width: 350px;
    height: 140px;
    border-radius: 40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

#group_title { 

    position: relative;
    top:20px;
    left:35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#group_title .group_logo {
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ededed;
}

#group_title .group_name {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 30px;
    line-height: 20px;
    font-weight: bolder;
}

.hash {
    bottom:10px;
    margin-top:40px;
    display: flex;
    padding-left: 46px;
    justify-content: start;
    align-items: center;
}

.hash-item {
    font-family: NotoSansCJKkr;
    font-size: 15px;
    border-radius: 20px;
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
    padding: 2px 11px 2px 11px;
    margin-right: 6px;
}

#group_graph_list {
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top:46%;
}

.group_graph {
    position: relative;
    padding:40px;
    top:40%;
    width: 320px;
    height: 320px;
    border-radius: 40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.graph_title {
    font-weight: bolder;
    font-size: 30px;
}

#shadow {
    cursor: pointer;
    transition: .7s;
    text-shadow:16px 16px black; 
}

#feed {
    cursor: pointer;
    transition: .7s;
}

#feed:hover {    
    transform: translate(8px,8px);
}

#shadow:hover {
    text-shadow:0px 0px black; 
}

#post_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:60%;
    width: 100%;
}


.post_item {
  padding: 30px 40px 30px 40px;
  margin-bottom: 20px;

  width: 520px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 2px 5px 7px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.5px #d1d1d1;
  background-color: #ffffff;
}

.post_item_hash {
    color: #0057ff;
    padding: 2px 12px 2px 12px;
    width: fit-content;
    border-radius: 20px;
    border: solid 1px #0057ff;
    margin-right: 7px;
}

.top {
   color: orange; 
   border: solid 1px orange;

}

.post_hash_list {
    display: flex;
}

.post_wrap {
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 35px;
    border-radius: 20px;
    height: 340px;
    border: solid 0.5px #d1d1d1;
}

.post_title {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.post_description{
    color: black;
}

.post_image {
    margin-top:20px;
    border-radius: 20px;
    width: 100%;
}

.flips {
    color:rgb(204, 204, 204);
    font-size: 14px;
    margin-right: 10px;
}