.post-wrap {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    margin: 12px 12px 12px 12px;
}

.post-wrap .thumb {
    line-height:200px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}


.group-image {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: url('/images/msg_logo_thumb.jpg')  no-repeat center top;
    height: 400px;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.group-content {
    text-align: center;
}

.group-post {
    min-height: 500px;
}

.group-post .nav-bar ul{
    display: flex;
}

.group-post .nav-bar ul li {
    display: block;
    border: 1px solid black;
    width: min-content;
    padding: 10px 22px 10px 22px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    background-color: rgba(54, 162, 235, 0.2);

    cursor: pointer;
}

.group-post .nav-bar ul li:first-child {
    background-color: blue;
    color: white;
}

.group-post .nav-bar ul li:hover {
    opacity: 0.7;
}

.chart-bar {
    margin: 30px 0 30px 0;
}